.app-header {
    display: flex;
    justify-content: space-between;
    background-color: #222;
    padding: 8px 32px 8px 16px;
    z-index: 9999;
}

.login-button {
    float: right;
}

.logo{
    display: flex;
    align-items: center;
    font-weight: 600;
    color: #ff7f7f;
}


.app-logo {
    animation: app-logo-spin infinite 8s linear;
    height: 37px;
    background: #ff7f7f;
    padding: 5px;
    margin-right: 10px;
}

.bookshow-button {
    float: right;
    margin-right: 8px;
}

@keyframes app-logo-spin {
    from { transform: scaleX(-1); }
}

.tabs {
    margin-bottom: 20px;
}

.dispNone {
    display: none;
}

.dispBlock {
    display: block;
}

.red {
    color: red;
}

.bookshow{
    background-color: #ff7f7f !important;
}


.form-input{
    display: flex;
    flex-direction: column ;
    padding: 5px 20px ;
    gap: 20px;
}
.form-input-register{
    display: flex;
    flex-direction: column ;
    padding: 5px 20px ;
    gap: 12px;
}


@media (max-width: 460px) {
.logo span {
display: none;
}
}
